/* Used https://github.com/pengx17/logseq-dev-theme/blob/main/custom.css#L1203-L1244 as a base, thank you! */
.dark-theme,
html[data-theme=dark] {
  --ct-primary-color: #33bbff;
  --ct-secondary-color: #838fff;
  --ct-warning-color: #ff3344;
  --ct-success-color: #5fff33;
  --ct-highlight-color: #33ffff;
  --color-level-1: #202020;
  --color-level-2: #404040;
  --color-level-3: #606060;
  --color-level-4: #808080;
  --color-level-5: #9F9F9F;
  --color-level-6: #BFBFBF;
  --ls-primary-background-color: #2b2b2b;
  --ls-secondary-background-color: var(--color-level-1);
  --ls-tertiary-background-color: var(--color-level-2);
  --ls-quaternary-background-color: var(--color-level-3);
  --ls-border-color: var(--ls-tertiary-background-color);
  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: #ffffff;
  --ls-secondary-text-color: #9f9f9f;
  --ct-bold-color: #fff;
  --ls-link-text-color: var(--ct-primary-color);
  --ls-link-ref-text-color: var(--ct-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);
  --ls-active-primary-color: var(--ct-primary-color);
  --ls-active-secondary-color: var(--ct-secondary-color);
  --ls-external-link-color: var(--ct-secondary-color);
  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-block-bullet-color: var(--ls-tertiary-background-color);
  --ls-bullet-closed-color: var(--ls-secondary-text-color);
  --ls-block-bullet-border-color: var(--ls-quaternary-background-color);
  --ct-block-arrow-color: #ffffff;
  --ct-page-reference-color: var(--ls-active-primary-color);
  --ls-icon-color: var(--ls-primary-text-color);
  --ct-block-reference-background: rgba(51, 170, 255, 0.2);
  --ct-block-reference-background-hover: rgba(51, 170, 255, 0.3);
  --ls-page-properties-background-color: var(--ls-tertiary-background-color);
  --ls-scrollbar-foreground-color: var(--ls-secondary-background-color);
  --ct-header-bg-color: #2b2b2b;
  --ls-selection-color: #000;
  --ls-block-highlight-color: #1b5986;
  --ls-page-inline-code-fg-color: #ffffff;
  --ls-page-inline-code-bg-color: #202020;
}

.white-theme,
.light-theme,
html[data-theme=light],
html[data-theme=white] {
  --ct-primary-color: #2885c8;
  --ct-secondary-color: #6770c8;
  --ct-warning-color: #c82835;
  --ct-success-color: #4bc828;
  --ct-highlight-color: #28c8c8;
  --color-level-1: #B2b2b2;
  --color-level-2: #909090;
  --color-level-3: #808080;
  --color-level-4: #656565;
  --color-level-5: #474747;
  --color-level-6: #252525;
  --ls-primary-background-color: #f2f2f2;
  --ls-secondary-background-color: var(--color-level-1);
  --ls-tertiary-background-color: var(--color-level-2);
  --ls-quaternary-background-color: var(--color-level-3);
  --ls-border-color: var(--ls-tertiary-background-color);
  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: #000000;
  --ls-secondary-text-color: #252525;
  --ct-bold-color: #000;
  --ls-link-text-color: var(--ct-primary-color);
  --ls-link-ref-text-color: var(--ct-primary-color);
  --ls-link-ref-text-hover-color: var(--ct-secondary-color);
  --ls-active-primary-color: var(--ct-primary-color);
  --ls-active-secondary-color: var(--ct-secondary-color);
  --ls-external-link-color: var(--ct-secondary-color);
  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-block-bullet-color: var(--ls-tertiary-background-color);
  --ls-bullet-closed-color: var(--ls-secondary-text-color);
  --ls-block-bullet-border-color: var(--ls-quaternary-background-color);
  --ct-block-arrow-color: #000000;
  --ct-page-reference-color: var(--ls-active-primary-color);
  --ls-icon-color: var(--ls-primary-text-color);
  --ct-block-reference-background: rgba(40, 133, 200, 0.1);
  --ct-block-reference-background-hover: rgba(40, 133, 200, 0.3);
  --ls-page-properties-background-color: var(--ls-secondary-background-color);
  --ls-selection-color: #fff;
  --ct-header-bg-color: rgba(242, 242, 242, 0.9);
  --ls-page-inline-code-fg-color: #ffffff;
  --ls-page-inline-code-bg-color: #202020;
}

/*revontuli CodeMirror theme file created with CodeMirror-Themes https://github.com/mkaminsky11/codemirror-themes*/
/* Add this to config:

 :editor/extra-codemirror-options   {:theme "revontuli"}

*/

.cm-s-revontuli.CodeMirror { background:rgba(32,32,32,1); }
.cm-s-revontuli.CodeMirror { color:#ffffff; }
.cm-s-revontuli div.CodeMirror-selected { background:rgba(29,117,179,0.5); }
.cm-s-revontuli .CodeMirror-gutters { background:rgba(22,22,22,1); }
.cm-s-revontuli .CodeMirror-guttermarker { color:rgba(191,191,191,1); }
.cm-s-revontuli .CodeMirror-guttermarker-subtle { color:rgba(191,191,191,1); }
.cm-s-revontuli .CodeMirror-linenumber { color:rgba(191,191,191,1); }
.cm-s-revontuli .CodeMirror-cursor { border-color:rgba(51,255,160,1); }
.cm-s-revontuli span.cm-comment { color:rgba(96,96,96,1); }
.cm-s-revontuli span.cm-atom { color:rgba(51,170,255,1); }
.cm-s-revontuli span.cm-number { color:rgba(255,146,51,1); }
.cm-s-revontuli span.cm-property { color:rgba(131,143,255,1); }
.cm-s-revontuli span.cm-attribute { color:rgba(95,255,51,1); }
.cm-s-revontuli span.cm-keyword { color:rgba(51,170,255,1); }
.cm-s-revontuli span.cm-string { color:rgba(95,255,51,1); }
.cm-s-revontuli span.cm-string-2 { color:rgba(255,146,51,1); }
.cm-s-revontuli span.cm-variable { color:rgba(248,248,242,1); }
.cm-s-revontuli span.cm-variable-2 { color:rgba(255,255,255,1); }
.cm-s-revontuli span.cm-def { color:rgba(253,151,31,1); }
.cm-s-revontuli span.cm-bracket { color:rgba(51,255,255,1); }
.cm-s-revontuli span.cm-tag { color:rgba(217,112,255,1); }
.cm-s-revontuli span.cm-link { color:rgba(131,143,255,1); }
.cm-s-revontuli span.cm-error { background:rgba(255,51,68,1); }
.cm-s-revontuli span.cm-error { color:rgba(0,0,0,1); }
.cm-s-revontuli .CodeMirror-activeline-background { background: #1b1b1b; }
.cm-s-revontuli .CodeMirror-matchingbracket { color:rgba(217,112,255,1); }

.cp__header a, .cp__header button, .cp__right-sidebar-topbar button {
    opacity: 1 !important;
}

.ui__icon {
  color: var(--ct-highlight-color);
}
