@-moz-document domain("cinny.in") {
.dark-theme {
    --bg-surface: #2b2b2b;
    --bg-surface-low: #202020;
    --bg-surface-extra-low: #181818;
    --bg-surface-border: #606060;
    --tc-surface-normal: #ffffff;
    --tc-code: #d970ff;
    --tc-link: #33aaff;
    --bg-ping: #009595b0;
    --bg-ping-hover: #00b0b0b0;
    --bg-positive: #5fff33;
    --bg-caution: #ffe033;
    --bg-danger: #ff3344;
    --bg-badge: #9f9f9fe8;
}

.room-category .room-selector {
    margin-left: auto;
    margin-right: auto;
}

.sidebar-avatar .notification-badge {
    box-shadow: 0 0 0 1px #000;
}

.room-selector--selected {
    border-color: #33ffaa59;
}

.room-view__content .timeline__wrapper > .divider {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.message__body pre,
.message__body blockquote {
    background-color: var(--bg-surface-low) !important;
}

pre,
code {
    border-radius: calc(var(--bo-radius) / 2);
    background-color: var(--bg-surface-low);
}

.message__body code {
    padding: 1% !important;
}

.notification-badge {
    min-width: 16px;
    min-height: 8px;
    padding: 0 var(--sp-ultra-tight);
    background-color: var(--bg-positive);
    border-radius: var(--bo-radius);
}

.featured-container > button:nth-child(2) .notification-badge:empty {
    padding: 0 var(--sp-ultra-tight);
    background-color: var(--bg-positive);
    border-radius: var(--bo-radius);
    visibility: inherit;
}

.notification-badge:empty {
    visibility: hidden;
}
}